body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffaf4;
}

.title{
    color: salmon;
    text-align: center;
}

.inputContainer{
    display: flex;
    justify-content: center;
}

.inputContainer > .searchMeal{
    padding: 7px 5px;
    border-color: salmon;
    border-radius: 10px;
    text-align: center;
    width: 18em;
}

.page{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardRecette{
    background-color: white;
    margin: 1em 1em;
    border: 1px solid salmon;
    width: 25em;
    border-radius: 15px;
    padding: 10px;
    text-align: justify;
}

.cardRecette > .imgContainer > img{
    max-width: 25vh;
}